<div class="container mt-2">
    <legend>Create</legend>
    <form>
        <div class="mb-3">
            <label for="txtName" class="form-label">Name</label>
            <input type="text" class="form-control" id="txtName" name="name" [(ngModel)]="dinosaurs.name">
        </div>
        <div class="mb-3">
            <label for="txtPeriod" class="form-label">Period</label>
            <input type="text" class="form-control" id="txtPeriod" name="period" [(ngModel)]="dinosaurs.period">
        </div>
        <div class="mb-3">
            <label for="txtDiet" class="form-label">Diet</label>
            <input type="text" class="form-control" id="txtDiet" name="diet" [(ngModel)]="dinosaurs.diet">
        </div>
        <button type="button" class="btn btn-primary" (click)="create()">Create</button>
        <a class="btn btn-primary" routerLink="/">Back</a>
    </form>
</div>