<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/" class="nav-link">Home</a>
    </div>
    <div class="navbar-content">
        <h1 class="navbar-heading">Dinopedia - Dinosaur Encyclopedia</h1>
        <p class="navbar-text">Explore the world of Dinosaurs</p>
    </div>
    <div class="navbar-links">
        <a *ngIf="!authenticated" routerLink="/login" class="nav-link">Login</a>
        <a *ngIf="!authenticated" routerLink="/signup" class="nav-link">Sign Up</a>
        <a *ngIf="authenticated" (click)="logout()" class="nav-link">Logout</a>
    </div>
</nav>