.navbar {
    background-color: #FF8C00;
    /* Dark orange color */
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #e67e22;
}

.navbar-content {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-heading {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

.navbar-text {
    font-size: 1.2em;
    color: white;
    margin-top: 5px;
}